/* Table of Contents

1. Custom properties

2. CSS reset (based on Andy Bell's https://piccalil.li/blog/a-modern-css-reset/)

3. Other global styles

4. Typography

5. Utility classes

6. Components

*/

/* ====================
   1. Custom properties
   ===================== */

:root {
  /* Colours */
  --clr-dark: #1b1b1b;
  --clr-light: 231 77% 90%;
  --clr-white: white;
  --clr-light-grey: #f7f7f7;
  /* Wai  */
  --clr-wai-1: hsl(186, 70%, 79%);
  --clr-wai-2: hsl(187, 67%, 60%);
  --clr-wai-3: hsl(189, 66%, 50%);
  --clr-wai-4: hsl(192, 95%, 31%);

  /* Wai 1 */
  /* --clr-1: #046183;
  --clr-2: #23CEE4;
  --clr-3: #06A2CB;
  --clr-4: #99F2E4; */

  /* Wai 2 */
  /* --clr-1: #3DB8E6;
  --clr-2: #7FD7EF;
  --clr-3: #A8E9F3;
  --clr-4: #208BC5; */

  /* Font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font-families */
  /* --ff-serif: serif; */
  --ff-sans-normal: 'Inter', sans-serif;
}
